.Rproj.user
.Rhistory
.RData
.Ruserdata

# thesis specific
_book/*
_bookdown_files/*

# R
*.Rproj
*.Rda

# data
*.ascii
*.csv

# image
*.png
*.jpg
*.jpeg
*.JPG
*.JPEG
*.svg
*.pdf

# bib
*.bib
*.csl

# office
*.ods
*.docx

# bio
*.fasta

# misc
*.html
*.ps
*.log
*.gz
*.txt
*.cls